style.css
/style.css/

body{
	font-family: arial, sans-serif;
	margin: 0px;
	background-color: #f9f9f9;
	color: #333;
}

h1{
	color: #2c3e50;
	text-align: center;
}

p{
font-size; 16px;
line-height: 1.5;
}

img{
	display: block;
	max-width: 340px;
	margin: 20px;
}

a{
	color: #0077cc;

}